/vendor
/.idea
/.vscode
/Docker/.env
.phpunit.cache
.phpunit.result.cache
/tests/test.sqlite
/tests/test.sqlite-journal
/tests/temp/*
.env
connection.php
/coverage
arch.dia.autosave
.php-cs-fixer.cache
architecture.dia.autosave